.figura {
  @include display_flex(row, flex-start, center);
  & > * + * {
    margin-left: 0.68rem;
  }
  &:first-child {
    grid-column: 1/4;
    .icono_figura {
      color: var(--color_primario);
    }
    .descripcion_figura {
      .titulo_3_descripcion {
        color: var(--color_primario);
      }
    }
  }
  .icono_figura {
    color: var(--color_secundario_gris_100);
  }
  .descripcion_figura {
    @include display_flex(column, center, flex-start);
  }
}
