.lista {
  margin-top: 1.5rem; /*24/16*/

  & > * + * {
    margin-top: 0.68rem; /*11/16*/
  }
  .item {
    @include display_flex(row, flex-start, flex-start);
    & > * + * {
      margin-left: 0.5rem; /*8/16*/
    }
    .check_item {
      flex-basis: 5%;
      height: 1.56rem; /* 25/16 */
    }
    .etiqueta_item {
      flex-basis: 95%;
    }
  }
}
