.tarjeta {
  & > * + * {
    margin-top: 0.31rem;
  }
  .item {
    @include display_flex(row, flex-start, flex-start);
    & > * + * {
      margin-left: 0.5rem;
    }
    .check_item {
      flex-basis: 5%;
      height: 1.56rem;
    }
    .normal_item{
      flex-basis: 95%;
    }
  }
}

