.titulo {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: var(--tamano_titulo_movil);
  line-height: var(--interlineado_titulo_movil);
  text-align: left;
  color: var(--color_secundario_oscuro);

  @media screen and(min-width:37.5rem) {
    & {
      font-size: var(--tamano_titulo_escritorio);
      line-height: var(--interlineado_titulo_escritorio);
    }
  }
}
.titulo_2 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: var(--tamano_titulo_2_movil);
  text-transform: capitalize;
  line-height: var(--interlineado_titulo_2_movil);
  color: var(--color_secundario_gris_200);
  @media screen and(min-width:37.5rem) {
    & {
      font-size: var(--tamano_titulo_2_escritorio);
      line-height: var(--interlineado_titulo_2_escritorio);
    }
  }
}
.titulo_3 {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: var(--tamano_titulo_3_movil);
  line-height: var(--interlineado_titulo_3_movil);
  color: var(--color_secundario_gris_200);
  @media screen and(min-width:37.5rem) {
    & {
      font-size: var(--tamano_titulo_3_escritorio);
      line-height: var(--interlineado_titulo_3_escritorio);
    }
  }
}
.subtitulo {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: normal;
  font-size: var(--tamano_subtitulo_movil);
  line-height: var(--interlineado_subtitulo_movil);
  color: var(--color_secundario_gris_200);

  @media screen and(min-width:37.5rem) {
    & {
      //font-size: var(--tamano_subtitulo_2_escritorio);
      //line-height: 1.12rem;/*18/16*/
    }
  }
}
.subtitulo_2 {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: normal;
  font-size: var(--tamano_subtitulo_2_movil);
  line-height: var(--interlineado_subtitulo_2_movil);
  color: var(--color_secundario_gris_200);

  @media screen and(min-width:37.5rem) {
    & {
      font-size: var(--tamano_subtitulo_2_escritorio);
      line-height: var(--interlineado_subtitulo_2_escritorio);
    }
  }
}
.subtitulo_3 {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: var(--tamano_subtitulo_3_movil);
  line-height: var(--interlineado_subtitulo_3_movil);
  text-transform: uppercase;
  color: var(--color_secundario_gris_400);
  @media screen and(min-width:37.5rem) {
    & {
      font-size: var(--tamano_subtitulo_3_escritorio);
      line-height: var(--interlineado_subtitulo_3_escritorio);
    }
  }
}
.parrafo {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: var(--tamano_parrafo_movil);
  line-height: var(--interlineado_parrafo_movil);
  text-align: left;
  color: var(--color_secundario_gris_100);

  @media screen and(min-width:37.5rem) {
    & {
      font-size: var(--tamano_parrafo_escritorio);
      line-height: var(--interlineado_parrafo_escritortio);
    }
  }
}
.normal {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--tamano_normal_movil);
  line-height: var(--interlineado_normal_movil);
  color: var(--color_secundario_gris_200);
  @media screen and(min-width:37.5rem) {
    & {
      //font-size: var(--tamano_subtitulo_2_escritorio);
      //line-height: 1.12rem;/*18/16*/
    }
  }
}
.etiqueta {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--tamano_normal_movil);
  line-height: var(--interlineado_normal_movil);
  color: var(--color_secundario_gris_200);
  @media screen and(min-width:37.5rem) {
    & {
      //font-size: var(--tamano_subtitulo_2_escritorio);
      //line-height: 1.12rem;/*18/16*/
    }
  }
}
.numero {
  padding: 0.81rem; /*13/16*/
  font-family: "Playfair Display" serif;
  font-style: normal;
  font-weight: bold;
  font-size: var(--tamano_numero_movil);
  line-height: var(--interlineado_numero_movil);
  background-color: var(--color_primario);
  border-radius: 6px;
  color: var(--color_secundario_blanco);
  @media screen and(min-width:37.5rem) {
    & {
      //font-size: 1.5rem;
      //line-height: 2rem;
    }
  }
}
.enlace {
  @media screen and(min-width:37.5rem) {
    & {
      //font-size: 1.5rem;
      //line-height: 2rem;
    }
  }
}
