img {
  max-width: 100%;
  cursor: pointer;
}
input[type="checkbox"] {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.titulo {
  font-family: "Playfair Display", serif;
  font-style: normal;
}
.subtitulo {
  font-family: "Playfair Display";
  font-style: italic;
}
