footer {
  p {
    text-align: center;
    font-family: Montserrat;
    font-style: italic;
    font-size: 16px;
    line-height: 150%;
  }
  p,
  a {
    font-weight: bold;
    color: #4e4c4c;
  }
}
