.pie_pagina {
  margin-top: 129px;
  .pie_pagina_parrafo {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: -87rem;
    line-height: 1.06rem;
    text-align: center;
    color: var(--color_pie_pagina_parrafo);
  }
  .pie_pagina_enlace {
    font-style: italic;
    font-weight: bold;
    color: var(--color_pie_pagina_enlace);
  }
}
