.pie_pagina {
  margin-top: 129px;
  .pie_pagina_parrafo {
    font-size: -87rem;
    line-height: 1.06rem;
    text-align: center;
    color: var(--color_secundario_gris_300);
  }
  .pie_pagina_enlace {
    font-style: italic;
    font-weight: bold;
    color: inherit;
  }
}
