.referencia {
  margin-top: 1.62rem;
  .referencia_enlace {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 150%;
    color: var(--color_secundario_gris_400);
  }
}
