.caja {
  .fila {
    @include display_flex(row, flex-start, flex-start);
    input[type="checkbox"] {
      width: 25px;
      height: 25px;
    }
    p {
      width: calc(100% - 75px);
      margin-top: 0;
      margin-left: 0.5rem;
    }
  }
  .instrucciones {
    & > .fila {
      span {
        padding: 1em;
        border: none;
        background-color: #f2994a;
        color: black;
        font-weight: 700;
      }
    }
  }
}
