.receta {
  width: 100%;
  @import "./resumen";
  @import "./caja";

  @media screen and(min-width:50em) {
    @include display_flex(row, space-between, flex-start);
    .resumen {
      width: 17%;
      order: 2;
      border: 0;
      border-radius: 15px;
      padding: 1em 0;
      box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.75);
      @include display_flex(column, flex-start, center);
      div {
        @include display_flex(column, flex-start, center);
        & > figure + figure {
          margin-top: 2rem;
        }
      }
      figure {
        & > span + figcaption {
          margin-left: 1.5rem;
        }
      }
    }
    .caja {
      width: 65%;
      order: 1;
    }
  }
}
