@mixin display_flex($direccion, $principal, $secundario) {
  display: flex;
  flex-direction: $direccion;
  justify-content: $principal;
  align-items: $secundario;
}
@mixin display_grid($columna, $minimo, $relleno_x, $relleno_y) {
  display: grid;
  grid-template-columns: repeat($columna, minmax($minimo, 1fr));
  grid-template-rows: 1fr;
  grid-gap: $relleno_x $relleno_y;
}
