:root {
  --color_subtitulo_figura_primario: #f2994a;
  --color_titulo_figura: #bdbdbd;
  --color_subtitulo_figura_secundario: #333333;
  --color_pie_pagina_parrafo: #828282;
  --color_pie_pagina_enlace: #4e4c4c;
  --color_descripcion_titulo: #000000;
  --color_descripcion_parrafo: #4f4f4f;
  --color_titulo_ingrediente: #333333;
  --color_numero_literal: #ffffff;
}
