:root {
  --color_primario: #f2994a;
  --color_secundario_gris_100: #4f4f4f;
  --color_secundario_gris_200: #333333;
  --color_secundario_gris_300: #828282;
  --color_secundario_gris_400: #bdbdbd;
  --color_secundario_gris_500: rgba(0, 0, 0, 0.1);
  --color_secundario_oscuro: #000000;
  --color_secundario_blanco: #ffffff;
}
