@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  /*
  moivl: (375,3740)
  escritorio:(1440,2989)
*/
  --color_primario: #f2994a;
  --color_secundario_gris_100: #4f4f4f;
  --color_secundario_gris_200: #333333;
  --color_secundario_gris_300: #828282;
  --color_secundario_gris_400: #bdbdbd;
  --color_secundario_gris_500: rgba(0, 0, 0, 0.1);
  --color_secundario_oscuro: #000000;
  --color_secundario_blanco: #ffffff;
  --tamano_titulo_movil:1.5rem;
  /*24/16*/
  --tamano_titulo_2_movil:1.12rem;
  /*18/16*/
  --tamano_titulo_3_movil:.62rem;
  /*10/16*/
  --tamano_parrafo_movil:.75rem:/*12/16*/
  --tamano_subtitulo_movil:1.12rem;
  /*18/16*/
  --tamano_subtitulo_2_movil: 1rem;
  /*16/16*/
  --tamano_subtitulo_3_movil:.5rem;
  /*8/16*/
  --tamano_normal_movil: 1rem;
  /*16/16*/
  --tamano_numero_movil: 1.5rem;
  /*24/16*/
  --tamano_titulo_escritorio:3rem;
  /*48/16*/
  --tamano_titulo_2_escritorio:1.5rem;
  /*24/16*/
  --tamano_titulo_3_escritorio:.87rem;
  /*14/16*/
  --tamano_subtitulo_2_escritorio:1.5rem;
  /*24/16*/
  --tamano_subtitulo_3_escritorio:.62rem;
  /*10/16*/
  --tamano_parrafo_escritorio:.87rem;
  /*14/16*/
  --relleno_movil_home:2rem .68rem;
  /* (32/16) , (11/16)*/
  --relleno_escritorio_home:3.25rem 14.81rem;
  /* 52/16 , 236.96/16 */
  --ancho_maximo:90rem;
  /*1440/16*/ }

@keyframes aparece_sitio {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }

:root {
  box-sizing: border-box; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.titulo {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: var(--tamano_titulo_movil);
  line-height: 2rem;
  /*32/16*/
  text-align: left;
  color: var(--color_secundario_oscuro); }
  @media screen and (min-width: 37.5rem) {
    .titulo {
      font-size: var(--tamano_titulo_escritorio);
      line-height: 4rem;
      /*64/16*/ } }

.titulo_2 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: var(--tamano_titulo_2_movil);
  line-height: 1.5rem;
  /*24/16*/
  color: var(--color_secundario_gris_200); }
  @media screen and (min-width: 37.5rem) {
    .titulo_2 {
      font-size: var(--tamano_titulo_2_escritorio);
      line-height: 2rem;
      /*32/16*/ } }

.titulo_3 {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: var(--tamano_titulo_3_movil);
  line-height: .75rem;
  /*12/16*/
  color: var(--color_secundario_gris_200); }
  @media screen and (min-width: 37.5rem) {
    .titulo_3 {
      font-size: var(--tamano_titulo_3_escritorio);
      line-height: 1.06rem;
      /*17/16*/ } }

.subtitulo {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: normal;
  font-size: var(--tamano_subtitulo_movil);
  line-height: 1.5rem;
  /*24/16*/
  color: var(--color_secundario_gris_200); }

.subtitulo_2 {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: normal;
  font-size: var(--tamano_subtitulo_2_movil);
  line-height: 1.31rem;
  /*21/16*/
  color: var(--color_secundario_gris_200); }
  @media screen and (min-width: 37.5rem) {
    .subtitulo_2 {
      font-size: var(--tamano_subtitulo_2_escritorio);
      line-height: 1.12rem;
      /*18/16*/ } }

.subtitulo_3 {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: var(--tamano_subtitulo_3_movil);
  line-height: .62rem;
  /*10/16*/
  text-transform: uppercase;
  color: var(--color_secundario_gris_400); }
  @media screen and (min-width: 37.5rem) {
    .subtitulo_3 {
      font-size: var(--tamano_subtitulo_3_escritorio);
      line-height: .75rem;
      /*12/16*/ } }

.parrafo {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: var(--tamano_parrafo_movil);
  line-height: 0.93rem;
  /*15/16*/
  text-align: left;
  color: var(--color_secundario_gris_100); }
  @media screen and (min-width: 37.5rem) {
    .parrafo {
      font-size: var(--tamano_parrafo_escritorio);
      line-height: 1.06rem;
      /*17/16*/ } }

.normal {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--tamano_normal_movil);
  line-height: 1.56rem;
  /*25/16*/
  color: var(--color_secundario_gris_200); }

.numero {
  padding: .81rem;
  /*13/16*/
  font-family: "Playfair Display" serif;
  font-style: normal;
  font-weight: bold;
  font-size: var(--tamano_numero_movil);
  line-height: 2rem;
  /*32/16*/
  background-color: var(--color_primario);
  border-radius: 6px;
  color: var(--color_secundario_blanco); }

.bienvenido * + * {
  margin-top: 0.75rem; }

@media screen and (min-width: 50rem) {
  .bienvenido .bienvenido_descripcion {
    width: 75%; } }

.contenido {
  margin-top: 1.5rem; }
  .contenido > * + * {
    margin-top: 1.89rem; }

@media screen and (min-width: 50rem) {
  .contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; } }

.estadistica {
  display: grid;
  grid-template-columns: repeat(3, minmax(3.12rem, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 1.25rem 1.25rem; }

@media screen and (min-width: 50rem) {
  .estadistica {
    flex-basis: 12.5rem;
    order: 2;
    border: 0;
    border-radius: 0.93rem;
    padding: 2.93rem 3.12rem;
    box-shadow: 0 0 0.93rem 0 var(--color_secundario_gris_500);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; } }

.referencia {
  margin-top: 1.62rem; }
  .referencia .parrafo_referencia {
    color: var(--color_secundario_gris_400); }
    .referencia .parrafo_referencia .enlace_referencia {
      color: inherit; }

.pie_pagina {
  margin-top: 129px; }
  .pie_pagina .parrafo_pie_pagina {
    text-align: center; }
    .pie_pagina .parrafo_pie_pagina .enlace_pie_pagina {
      font-weight: bold;
      color: inherit; }

.informacion > * + * {
  margin-top: 1.87rem; }

@media screen and (min-width: 50rem) {
  .informacion {
    flex-basis: calc(100% - 15.5rem);
    order: 1; } }

.figura {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }
  .figura > * + * {
    margin-left: 0.68rem; }
  .figura:first-child {
    grid-column: 1/4; }
    .figura:first-child .icono_figura {
      color: var(--color_primario); }
    .figura:first-child .descripcion_figura .subtitulo_figura {
      color: var(--color_primario); }
  .figura .icono_figura {
    color: var(--color_secundario_gris_100); }
  .figura .descripcion_figura {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }

.ingredientes > * + *,
.instrucciones > * + * {
  margin-top: 0.81rem; }

.tarjeta > * + * {
  margin-top: 0.31rem; }

.tarjeta .item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start; }
  .tarjeta .item > * + * {
    margin-left: 0.5rem; }
  .tarjeta .item .check_item {
    flex-basis: 5%;
    height: 1.56rem; }
  .tarjeta .item .normal_item {
    flex-basis: 95%; }

.literal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start; }
  .literal > * + * {
    margin-left: 0.5rem; }

.home {
  max-width: var(--ancho_maximo);
  margin: 0 auto;
  padding: var(--relleno_movil_home);
  animation: aparece_sitio 1s linear 0s; }

@media screen and (min-width: 60rem) {
  .home {
    padding: var(--relleno_escritorio_home); } }
